/* Color Theming */
:root {
    /* light */
	--light-background: #fff;
    --light-background-dark: #b6b6b6;
	--light-textcolor: #000000;
    --light-overlay-color: #a0a0a0e6;
    --light-accent: #382700;
    --light-accent-dark: #ffba1a;
    --light-accent-darker: #c0901f;

    /* dark */
	--dark-background: #121212;
    --dark-background-dark: #313131; /* hover color */
	--dark-textcolor: #ffffff;
    --dark-overlay-color: #1e1e1ee6;
	--dark-accent: #008000;
	--dark-accent-dark: #0d2d0d; /* selected highlight */
	--dark-accent-darker: #102010; /* hovered selected highlight */

    /* custom dark 1 */
	--customDark2-background: #171625;
    --customDark2-background-dark: #282641;
	--customDark2-textcolor: #ffaaaa;
    --customDark2-overlay-color: #1e1e1ee6;
    --customDark2-accent: #e29e00;
    --customDark2-accent-dark: #6d5316;
    --customDark2-accent-darker: #4b3d1c;
    /* --customDark2-accent: #e19d00;
    --customDark2-accent-dark: #674d12;
    --customDark2-accent-darker: #493a19; */

    /* fallback just in case, should hopefully get overridden but just to make sure. defaults to dark */
    color-scheme: dark;
    --background-color: var(--dark-background);
    --background-color-dim: var(--dark-background-dark);
    --text-color: var(--dark-textcolor);
    --overlay-color: var(--dark-overlay-color);
    --accent-color: var(--dark-accent);
    --accent-color-dim: var(--dark-accent-dark);
    --accent-color-dimmer: var(--dark-accent-darker);
}
/* @media (prefers-color-scheme: light) { // disabled for now until the theme customizer is implemented
	:root {
        color-scheme: light;
        --background-color: var(--light-background);
        --background-color-dim: var(--light-background-dark);
        --text-color: var(--light-textcolor);
        --overlay-color: var(--light-overlay-color);
        --accent-color: var(--light-accent);
        --accent-color-dim: var(--light-accent-dark);
        --accent-color-dimmer: var(--light-accent-darker);
	}
} */
@media (prefers-color-scheme: dark) {
	:root {
        color-scheme: dark;
        --background-color: var(--dark-background);
        --background-color-dim: var(--dark-background-dark);
        --text-color: var(--dark-textcolor);
        --overlay-color: var(--dark-overlay-color);
        --accent-color: var(--dark-accent);
        --accent-color-dim: var(--dark-accent-dark);
        --accent-color-dimmer: var(--dark-accent-darker);
	}
}
.theme-light {
    /* light theme override */
    color-scheme: light;
    --background-color: var(--light-background);
    --background-color-dim: var(--light-background-dark);
    --text-color: var(--light-textcolor);
    --overlay-color: var(--light-overlay-color);
    --accent-color: var(--light-accent);
    --accent-color-dim: var(--light-accent-dark);
    --accent-color-dimmer: var(--light-accent-darker);
}
.theme-dark {
    /* dark theme override */
    color-scheme: dark;
    --background-color: var(--dark-background);
    --background-color-dim: var(--dark-background-dark);
    --text-color: var(--dark-textcolor);
    --overlay-color: var(--dark-overlay-color);
    --accent-color: var(--dark-accent);
    --accent-color-dim: var(--dark-accent-dark);
    --accent-color-dimmer: var(--dark-accent-darker);
}
.theme-customdark1 {
    /* customdark1 theme override */
    color-scheme: dark;
    --background-color: var(--customDark2-background);
    --background-color-dim: var(--customDark2-background-dark);
    --text-color: var(--customDark2-textcolor);
    --overlay-color: var(--customDark2-overlay-color);
    --accent-color: var(--customDark2-accent);
    --accent-color-dim: var(--customDark2-accent-dark);
    --accent-color-dimmer: var(--customDark2-accent-darker);
}

/* Page */
html {
    font-family: monospace;
    height: 100%;
    width: 100%;
    color: var(--text-color);
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--background-color);
}

.hidden {
    display: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex_breakline {
    flex-basis: 100%;
}

#page_container {
    height: 100%;
    width: 100%;
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    display: flex;
}

.link {
    color: var(--text-color) !important;
    text-decoration-color: var(--accent-color);
}

.svg_fill {
    fill: var(--text-color);
    stroke: var(--text-color);
}

#credits {
    white-space-collapse: preserve-breaks;
}

/* Effects */
@keyframes rainbow_animation {
    0%, 100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.rainbow_link {
    background: linear-gradient(45deg, #9191ff, #18a3ff , #19ff19, #ff51a8, #7e7eff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
    text-decoration-color: var(--accent-color);
}

.grayscale_effect {
    filter: grayscale(1) contrast(1.1);
}

/* Map */
#map_pane {
    flex: 0.785;
    position: relative;
}
#map_element {
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.leaflet-marker-icon {
    filter: drop-shadow(2px 2px 4px #0000004c);
}
.leaflet-popup-content-wrapper {
    border-radius: 0 !important;
    background-color: var(--background-color);
    border: 1px solid var(--accent-color);
}
.leaflet-popup-tip {
    background-color: var(--background-color);
    border: 2px solid var(--accent-color);
    padding: 0;
}
.leaflet-popup-content {
    color: var(--text-color);
    font-family: monospace;
    font-size: 13px;
}
.leaflet-container a.leaflet-popup-close-button {
	color: #8a8a8a;
    /* Unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.leaflet-container a.leaflet-popup-close-button:hover,
.leaflet-container a.leaflet-popup-close-button:focus {
	color: #a7a7a7;
}

/* Information pane and tabs */
#information_pane {
    border-left: 1px solid var(--accent-color);
    flex: 0.215;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-y: auto;
}
#information_tabs {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--accent-color);
    height: 24px;
}
#information_infotab {
    border-right: 1px solid var(--accent-color);
}
.information_tab {
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#information_content {
    flex: 1;
    margin: 0 8px;
    overflow-x: auto;
}
#information_points {
    margin: 8px 0;
}
.information_image {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    cursor: pointer;
    padding-right: 4px;
    padding-left: 4px;
    margin-bottom: 4px;
}
#information_text blockquote {
    border: 1px solid var(--accent-color);
    padding: 2px;
    margin: 6px 1px;
    overflow-wrap: anywhere;
}

/* Settings container and tabs */
#settings_container {
    max-width: 95%;
    max-height: 95%;
    width: 512px;
    height: 512px;
    background-color: var(--background-color);
    border: var(--accent-color) solid 1px;
    display: flex;
    flex-direction: row;
}
#settings_tabs {
    height: 100%;
    border-right: 1px solid var(--accent-color);
}
.settings_tab {
    border-bottom: 1px solid var(--accent-color);
    padding: 8px;
    cursor: pointer;
}
#settings_content {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}
.settings_pane {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
}
#overlay_close_button {
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 2px;
    background-color: var(--background-color);
}
.settingsindicator_base {
    transition: none;
    opacity: 1;
}
.settingsindicator_animation {
    transition-delay: 600ms;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 0;
}
#settings_maincontainer {
    padding: 8px;
    padding-right: 16px;
    flex: 1;
    overflow: auto;
}
#settings_buttonsfooter {
    border-top: 1px solid var(--accent-color);
}
#settingsbutton_apply {
    font-family: monospace;
    font-size: 1.1em;
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    overflow: auto;
    border-left: 1px solid var(--accent-color);
    float: right;
    padding: 3px 5px;
    overflow: hidden;
    color: var(--text-color);
}
.settings_topcontainer {
    display: flex;
    align-items: center;
}
.settings_checkbox {
    width: 13px;
    height: 13px;
    margin: 0;
    margin-right: 5px;
}
.settings_mainlabel {
    font-size: 1.05em;
    /* font-weight: bold; */
}
.settings_desclabel {
    display: block;
    /* color: #d3d3d3; */
    font-style: italic;
}

/* Information pane collapse/expand buttons */
#information_pane_menu {
    position: absolute;
    z-index: 900;
    font-family: monospace;
    background-color: var(--background-color);
    display: flex;
    top: 16px;
    right: 0;
    border: var(--accent-color) solid 1px;
    border-top: 0;
    border-right: 0;
    flex-direction: column;
}
.pane_menu_child {
    line-height: 0;
    border: none;
    border-top: solid var(--accent-color) 1px;
    cursor: pointer;
    padding: 6px;
    background-color: transparent;
}
.chevron_styling {
    fill: none;
    stroke: var(--text-color);
    stroke-linecap: square;
    stroke-linejoin: miter;
    stroke-width: 48px
}
#expanded_vertical_button,
#collapsed_vertical_button {
    display: none;
}
.paneshrunken {
    /* Using !important is bad practice but its necessary to override ID specificity */
    flex: 0 !important;
    display: none !important;
}
.paneexpanded {
    flex: 1 !important;
}

/* Points content */
.points_groupheader {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 8px 5px;
    padding-top: 2px;
}
.points_categorygroup {
    box-sizing: border-box;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: calc(50% - 2.5px) calc(50% - 2.5px);
    grid-gap: 5px;
}
.points_categorybutton {
    border: 1px solid var(--accent-color);
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 35px;
    background-color: transparent;
    font-family: monospace;
    font-size: 1em;
    cursor: pointer;
    min-width: 0;
    color: var(--text-color);
}
.points_catbuttonimg {
    height: 100%;
}
@media (max-width: 1200px) {
    .points_catbuttonimg {
        display: none;
    }
}
.points_catbuttonlabel {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-top: 1px;
    padding-right: 2px;
    white-space: nowrap;
}

/* Behavior changes for different resolutions */
@media (max-width: 650px) {
    #page_container {
        flex-flow: column;
    }
    #map_pane {
        flex: 0.65;
    }
    #information_pane {
        border-top: 1px solid var(--accent-color);
        border-left: 0;
        flex: 0.35;
    }
    /* Information pane collapse/expand buttons */
    #information_pane_menu {
        top: unset;
        right: 16px;
        bottom: 0;
        border: var(--accent-color) solid 1px;
        border-left: 0;
        border-bottom: 0;
        flex-direction: row-reverse;
    }
    .pane_menu_child {
        border-top: 0;
        border-left: solid var(--accent-color) 1px;
    }
    #expanded_horizontal_button,
    #collapsed_horizontal_button {
        display: none;
    }
    #expanded_vertical_button,
    #collapsed_vertical_button {
        display: block;
    }
    .points_catbuttonimg {
        display: unset;
    }
}

/* Image viewer */
#overlay_screen {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: -8px;
    z-index: 1000;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: var(--overlay-color);
}

#display_image {
    max-height: 80%;
    max-width: 90%;
    background-color: rgba(30, 30, 30, 0.4); /* leave it for now, doesn't need to be changed */
}

/* Interaction Effects */
.highlight_on_hover:hover {
    background-color: var(--background-color-dim);
}
.highlighted_element {
    background-color: var(--accent-color-dim);
}
.highlighted_element:hover {
    background-color: var(--accent-color-dimmer);
}
